scipy==0.18.1
numpy==1.11.2
pandas==0.19.1
Bottleneck==1.2.0
fastcluster==1.1.21
h5py==2.6.0
hurry.filesize==0.9
husl==4.0.3
nose==1.3.7
Jinja2==2.8
scikit-learn==0.15.0
simplejson==3.10.0
matplotlib==1.5.3
mpltools==0.2.0
networkx==1.11
joblib==0.10.3
pymc==2.3.6

### the following pacakges will get installed as dependencies to requirements (above) 
#configobj==5.0.6
#cycler==0.10.0
#decorator==4.0.10
#future==0.16.0
#MarkupSafe==0.23
#pyparsing==2.1.10
#python-dateutil==2.6.0
#pytz==2016.7
#six==1.10.0
#wheel==0.24.0
